* {
    margin: 0;
    padding: 0;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #fff !important;
}

 .header__title > * {
    display: block;
 }

 .logo {
     display: flex;
     align-items: center;
     padding: 5px 0 0 40px;
 }


 .logo__title {
     color: #fff;
 }

 .btn {
     padding: 10px 30px;
     border: none;
     border-radius: 5px;
     color: #fff;
     font-size: 18px;
     cursor: pointer;
 }

 .btn__success{
     background-color: #27DB80;
 }


 .logo__title__black {
    color:#000;
}

.logo__img {
    width: 45px;
    height: 51px;
    background-image: url(../img/Logog_blue.svg);
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 13px;
    -webkit-transition: background-image .4s;
    -o-transition: background-image .4s;
    transition: background-image .4s;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.header {
    background-image: url('../img/1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    position: relative;
    font-family: 'Bree Serif', serif;

}

.header__title{
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    /*  */
    font-size: 35px;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    color: #fff;
}


.header__sub{
    position: absolute;
    top: 60%;
    left: 50%;
    text-align: center;
    /*  */
    transform: translate(-50%, -50%);
    color: #fff;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 1); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
   
}
.menu__list{
    margin-left: 70px;
}
.menu_list_item{
    list-style: none;
    margin-top: 20px;
    font-size: 18px;
}



.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 1;
    border: none;
    background-color: transparent;
  }

  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  
  .link {
      text-decoration: none;
      color: #0f0f0f;
  }


.header__buttons{
      display: flex;
      gap: 50px;
      align-items: center;

      position: absolute;
      top: 75%;
      bottom: 50%;
      transform: translate(50%, 50%);
      color: #fff;
      margin-top: 20px;
      
  }

 .btn__danger{
    padding: 15px 35px;
    border-radius: 10px;
    border: none;
    margin-top: 30px;
    font-size: 16px;
    box-shadow: 4px 4px 4px #fd4444 ;
    background-color: #fd4444;
    color: #fff;
    cursor: pointer;
 } 


 .btn__success{
    padding: 15px 35px;
    border-radius: 10px;
    border: none;
    margin-top: 25px;
    font-size: 16px;
    box-shadow: 4px 4px 4px #4456f5 ;
    background-color: #4456f5;
    color: #fff;
    cursor: pointer;
 } 

 .header__item{
     text-align: center;
 }

.header__btn_scroll{
        font-size: 24px;
        font-weight: bold;
        border-radius: 50%;
        padding: 5px 10px;
        border: none;
        color: #0009B2;
        cursor: pointer;
        box-shadow: 2px 2px 2px #ffc;
        position: absolute;
        top: 93%;
        left: 50%;
}



/* section 1 partners */

.partners{
    margin-top: 80px;
    margin-bottom: 80px;
}


.partners__imgs{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;

}
.partners__imgs p {
    margin-top: 10px;
    text-transform: uppercase;
}
.about-us{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    justify-content: space-between;
    margin: auto 20px;
}

.about-us img{
      height: 25rem;      
}


.about-us__text{
    display: flex;
    flex-direction: column;
    justify-content: space-aroundw;
}

.about-us__text li:before {
    content: ' ✓  ';
    color: #0810B5;
    font-weight: bold;
}
.about-us__text li{
    list-style-type: none;
    margin-bottom: 30px;
    line-height: 1.8rem;
}

.about-us__text li span{
    font-weight: bold;
}


.about-us__text > *{
    margin-bottom: 30px;
}

section{
    margin-bottom: 50px;
}

.about_us__text__head{
    color: #6EDDEF;
    font-size: 1.5rem;
}

.about_us__text__title{
    color: #313B77;
    font-size: 1.9rem;
}
.video-block__background{
    display: block;
    width: 100%;
}

.video-block{
    width: 800px;
    height: 380px;
    background-image: url('../img/video-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    position: absolute;
    top: -150px;
    left: 10%;
    border-radius: 15px;
}
.video-block__button{
    position: absolute;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    font-size: 40px;
    background-color: #00C3E2;
    border-radius: 50%;
    padding: 30px;
    text-align: center;
    border:none;
    box-shadow: 2px 2px 4px #00C3E2;
    color: #fff;
}
.video-block__section{
    position: relative;
    margin-top: 150px;
}


